.tab-logos {
  .ant-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .ant-card-cover {
    padding: 15px;
  }
}

.gallery-link {
  padding: 10px 0;
}
